<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>CV</title>
</head>
<body>
<h1>{{ personal.name }}</h1>
<div class="personal-info">
  <div class="tile">
    <img src="icons/email.svg" alt="Email" width="14" height="14"/>
    <a href="mailto:{{ personal.email }}">{{ personal.email }}</a>
  </div>

  <div class="tile">
    <img src="icons/github.svg" alt="GitHub" width="14" height="14"/>
    <a href="https://github.com/{{ personal.github }}" target="_blank">{{ personal.github }}</a>
  </div>

  <div class="tile">
    <img src="icons/linkedin.svg" alt="LinkedIn" width="14" height="14"/>
    <a href="https://linkedin.com/in/{{ personal.linkedin }}" target="_blank">linkedin</a>
  </div>

  <div class="tile">
    <img src="icons/phone.svg" alt="Phone" width="14" height="14"/>
    <a href="tel:{{ personal.phone }}">{{ personal.phone }}</a>
  </div>

  <div class="tile">
    <img src="icons/home.svg" alt="Home" width="14" height="14"/>
    <div>{{ personal.address }}</div>
  </div>

    <div class="tile">
    <img src="icons/calendar.svg" alt="Calendar" width="14" height="14"/>
    <div>{{ personal.date_of_birth }}</div>
  </div>
</div>

<h2>{{ i8n.work_experience }}</h2>
{% for job in experience %}
<div class="entry">
    <div class="row">
        <h3 class="left">{{ job.title }}</h3>
        <div class="right">{{ job.start }} – {{ job.end }}</div>
    </div>
    <div class="row">
        <h4 class="left">{{ job.company }}</h4>
        <div class="right">{{ job.location }}</div>
    </div>
    <ul style="margin-top: 0; margin-bottom: 0;">
        {% for d in job.details %}
        <li>{{ d }}</li>
        {% endfor %}
        <li><strong>{{ i8n.technologies }}:</strong> {{ job.technologies | join(', ') }}</li>
    </ul>
</div>
{% endfor %}

<h2>{{ i8n.education }}</h2>
{% for edu in education %}
<div class="entry">
    <div class="row">
        <h3 class="left">{{ edu.degree }}</h3>
        <div class="right">{{ edu.start }} – {{ edu.end }}</div>
    </div>
    <div class="row">
        <h4 class="left">{{ edu.institution }}</h4>
        <div class="right">{{ edu.location }}</div>
    </div>
</div>
{% endfor %}

<h2>{{ i8n.projects }}</h2>
{% for proj in project %}
<div class="entry">
    <div class="row">
        <h3 class="left">{{ proj.title }}</h3>
        <div class="right">{{ proj.start }} – {{ proj.end }}</div>
    </div>
    <div class="row">
        <h4 class="left">{{ proj.subtitle }}</h4>
        <div class="right">{{ proj.location }}</div>
    </div>
    <ul>
        {% for d in proj.details %}
        <li>{{ d }}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

<h2>{{ i8n.skills }}</h2>
{% for title, items in skills.items() %}
<p><strong>{{ title }}:</strong> {{ items | join(", ") }}</p>
{% endfor %}
</body>
</html>

