body {
    font-family: "Roboto Light", "Helvetica Neue", Arial, sans-serif;
    margin: 0.7cm;
    color: #222;
}

.entry {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.left {
    padding-right: 1rem;
}

.right {
    text-align: right;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 15px;
    font-style: italic;
}

h1 {
    font-size: 28px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    border-bottom: 1px solid #555;
}

h3 {
    margin: 0;
    font-size: 16px;
}

h4 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
}

p, ul {
    margin: 0.2rem;
    font-size: 15px;
}

ul {
    padding-left: 20px;
}

li {
    margin: 0.05rem
}

/*@media print {*/
/*  @page {*/
/*    margin: 10mm; !* or 0.5in, 1cm, etc. *!*/
/*  }*/

/*  body {*/
/*    margin: 10mm; !* remove default body margin *!*/
/*  }*/
/*}*/

